body{
    width:100%;
}


#nav{
    font-size: 14px;
    font-family: arial, sans-serif;
    height:48px;
    width:1920px;
    display:flex;
    padding:8px;
    align-items:center;
    box-sizing: border-box;
    justify-content: flex-end;
    float:right;
}

.navitems {
    margin:10px;
    text-decoration: none;
    color:black;
    
}

a.navitems:hover {
    text-decoration: underline;
}

#signup {
    height:16px;
    width:79.75px;
    background:#1a73e8;
    padding:9px 15px 9px 15px;
    border-radius: 4px;
    border-width: 1px;
    text-decoration: none;
    margin-left:8px;
    margin-right:8px;
    text-align:center;
}

#signup a {
    color:ivory;
    text-decoration:none;
    height:16px;
    width:79.75px;
    font-size:14px;
    font-weight:500;
}

#signup:hover{
    background-color: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}
.logo-div{

    width:100%;
    min-height:92px;
    min-height:290px;
    display:flex;
    align-items: center;
    

}

.search{
    width:100%;
    padding:20px;
    max-height:160px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#google-logo{
    margin:auto;
    margin-bottom: 0px;
}

#search-bar{
    width:560px;
    height:39px;
    border-radius: 22px;
    border-width:1px;
    border-style: solid;
    border-color:#c8cdd4;
    display: flex;
    object-position: center;
    padding:5px 8px 0px 14px;
}

#search-bar:hover{
    box-shadow: 0 0 2px #c8cdd4;
}

#search-bar input{
    border-style: none;
    outline:none;
    background-color: transparent;
    width:527px;
    height:34px;
    display: flex;
    flex: 100%;
    position:static;
    font-size: 16px;
    font-family: arial, sans-serif;
}

.glass{
    width:39px;
    height: 39px;
    padding:7px 10px 0px 0px;
}

.buttons{
    height:70px;
    width:100%;
    padding-top:18px;
}

.buttons input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #202124;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons input[type="submit"]:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

.middle{
    flex-grow: 1;
    box-sizing: border-box;
    height: 230px;
}

.footer {
    font-size: 14px;
    padding:10px 20px;
    height:50px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-evenly;
    border-top: 1px solid #dadce0;
    justify-items:center;
}

.footer a{
    color: rgba(0,0,0,.54);
    text-decoration: none;
    margin: 5px;
}

.footer a:hover {
    text-decoration: underline;
}